img {
  max-width: 100%;
}

header {
  img {
    max-width: 200px;
  }
}

.container {
  min-height: 100vh;
}

.modal-dialog {
  margin: 0;
  max-width: 100%;
}

.btn-social-round {
  color: white;
  background: black;
  border-radius: 30px;
}

#mymap {
  width: 100%;
  height: 50vh;
}